@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Pacifico&family=Parisienne&family=Plus+Jakarta+Sans:ital,wght@0,700;1,500;1,800&family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: big shoulders display;
}

.map{
    height: 140vh;
    background-image: url('./starter-code/assets/mobile/image-map.png');
    background-repeat: no-repeat; 
    background-size: cover;
}

.btns{
   width: 70%;
    height: 75px;
    background-color: #151515;  
}

.btns button:first-child{
    height: 75px;
    padding: 0 2rem;
    padding: 0 1.5rem;
      background-color: #d5966c;
      border: 2px solid #d5966c;;
}

.btns button:last-child{
    /* height: 70px; */
    font-size: 1.3rem;
    font-weight: bolder;
    margin: 0.1rem;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0.5rem;
    background-color: #151515;  
    border: none;

}

.middle-section{
    background-color: #151515;
    color: #ffffff;
    padding: 1rem 0.5rem;
}

.location-text h2{
    text-transform: uppercase;
}

.location-text h2, .more-details h3, .more-details P{
    margin-bottom: 1rem;
}

.more-details p{
    font-weight: lighter;
    line-height: 1.5rem;
    font-size: 0.954rem;
}

.more-details h3{
    color: #d5966c;
}

.location-footer{
    background-color: #d5966c;
    padding: 1.5rem 1rem;
}

.location-footer h1, .location-footer p, .location-icons{
    margin-bottom: 1.5rem;
}

.location-footer h1{
    text-transform: uppercase;
    line-height: 1.5rem;
}

.location-footer p{
    font-size: 1.8rem;
    font-weight: lighter;
    line-height: 2rem;
}

.location-icons svg{
    fill: #151515;
    margin-left: 1rem;
}

@media screen and (min-width:768px) {
    .map{
        background-image: url('./starter-code/assets/tablet/image-map.png');
    }

    .btns{
        margin-left: 1.5rem;
    }

    .middle-section{
        padding: 4rem 1.5rem;
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        gap: 5rem;
    }

    .location-text{
        font-size: 2.2rem;
    }

    .more-details p{
        font-size: 1.05rem;
        line-height: 2rem;
    }

    .location-footer{
        padding: 5rem 2.5rem;
        display: flex;
        justify-content: space-between;
        gap: 7rem;
    }

    .text-footer{
        display: flex;
        justify-content: space-between;
        gap: 3rem;
    }

    .text-footer h1{
        white-space: nowrap;
    }

    .text-footer p{
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .location-icons{
        white-space: nowrap;
    }

    /* p{
        padding: 1rem;
    } */
}

@media screen and (min-width:989px) {
    .map{
        background-image: url('./starter-code/assets/desktop/image-map.png');
        /* background-position-x: right;
        background-position-y: top;
        background-position-x: left; */
        background-size: contain;
    }

    .btns{
        margin-left: 8.5rem;
        width: 20%;
    }

    .middle-section{
        transform: translateY(-63.5%);
        gap: 10rem;
        border: 2px solid transparent;
        padding: 7rem;
    }

    .location-text h2{
        font-size: 3.2rem;
    }

    .more-details h3{
        font-size: 2.3rem;
    }

    .more-details p{
        font-size: 2.3rem;
        line-height: 2.5rem;
    }

    .location-footer{
        transform: translateY(-160%);
        padding: 7rem;

    }

    .text-footer{
        justify-content: space-between;
        gap: 12rem;
    }

    .text-footer p{
        font-size: 2.2rem;
        line-height: 2rem;
    }

    .location-icons{
        display: none;
    }

}