*{
    margin: 0;
    padding: 0;
}

.header {
    margin-left: 500px;
    margin-top: 40%;

    color: white;
}


/* ------hero------ */
.hero {
    display: flex;
    width: 100%;
    height: 100%;
    position:relative;
}

.left-col{
    flex-basis: 30%;
    height: 85vh;
    background: black;
}


.hero-image{
    object-fit:cover;
    width:100%;
}
 .center-col{
    /* flex-basis: 40%; */
    /* height: 85vh;
    object-fit:cover;
    width:100%; */
    background: rgb(0, 255, 85);
}
.right-col{
    flex-basis: 30%;
    height: 85vh;
    background: blue;
    
}

/* ------footer------ */
.footer {
    width: 100%;
    color: red;
    background-color: gray;
    text-align: center;
    padding: 30px 0;
    position: absolute;
}

.footer h5{
    color: red;
    margin-bottom:25px;
    font-weight: 600;
    
}

.icons .fa {
    color: white;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    /* padding: 10px; */
    width:100%;
    grid-gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    background-color: blue;

  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 20px; */
    font-size: 30px;
    text-align: center;
    width:100%;
  }

  .first-col{
    background-color:black;
  }

 
  .hero-text{
    position: absolute;
    display: flex;
    grid-template-columns: 1fr 2fr; 
    gap: 10px; 
    top:25%;
    left:25%;
    width:100%;
    height: 176px;
    mix-blend-mode: difference;

  }

  .text-col-1{
    color:white;
  }
 

  /* .info {
   
  }
   */
  .text-col-1 {
    grid-column: 1; 
    /* background-color: lightblue;  */
    font-size: 60px;
    width:380px;
  }
  
  

  .text-col-3 {
    grid-column: 2; 
    /* background-color: lightgreen;  */
    width: 300px;
    left:20%;
  }


  /* .second-col{
    background-image: url("../starter-code/assets/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width:90%;
  } */
  